<ul class="links">
  <li class="links__link">
    <a href="http://instagram.com" target="_blank" class="link link--insta">
      <span class="link__icon"><img src="./img/insta.svg" alt="Instagram icon"></span>
      <span class="link__label">Keep Up</span>
    </a>
  </li>
  <li class="links__link">
    <a href="http://etsy.com" target="_blank" class="link link--etsy">
    <span class="link__icon"><img src="./img/etsy.svg" alt="Etsy icon"></span>
    <span class="link__label">Stock Up</span></a>
  </li>
</ul>